.hidden {
    display: none;
}

p, h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1bbafe;
}
p {
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
}
h3 {
    font-size: 2.5vw;
    letter-spacing: 0.15vw;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4vw;
    letter-spacing: 0.3vw;
    color: #ff00aa;
}

/*fade in dos elementos do site*/
.fade-in {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: scale(1);
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-image: url('../imagens/ruido_fundo.png');
    background-size: cover;
}

#pagina_discos {
    margin-top: -2vh;
    text-align: center;
}

#pagina_discos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#titulo_discos {
    margin-bottom: 2vh;
}

#dificuldade_box {
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

.dificuldade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    width: 18vw;
    height: 18vw;
    max-width: 300px;
    max-height: 300px;
}

.vinyl {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    animation: spin 4s linear infinite;
    position: relative;
    transition: width 0.5s ease, height 0.5s ease;
    max-width: 300px;
    max-height: 300px;
    background-color: black;
}

.vinyl:hover {
    width: 16vw;
    height: 16vw;
    transition: ease 1s;
    max-width: 325px;
    max-height: 325px;
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
